.history-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.history-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: 1px solid black;
}

.history-image-1,
.history-image-2,
.history-image-3 {
  position: relative;
  justify-self: center;
  width: 350px;
  height: 250px;
}

.history-year-1,
.history-year-3 {
  position: absolute;
  padding: 5px 7px;
  top: -20px;
  right: -20px;
} 

.history-year-2 {
  position: absolute;
  padding: 5px 7px;
  top: -20px;
  left: -20px;
}
