.body {
  background-color: #00172f;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 1050px;
  width: 100%;
  overflow: hidden;
}

.title {
  font-size: 280px;
  font-family: "PT Serif";
  font-style: italic;
  position: absolute;
  top: -100px;
  left: 100px;
  line-height: 10px;
  text-align: center;
  color: white;
  z-index: 1;
}

.subtitle {
  position: absolute;
  font-family: "PT Serif";
  font-style: italic;
  font-size: 30px;
  top: 280px;
  left: 100px;
  white-space: nowrap;
  color: white;
}

.title-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bottom-gradient {
  position: absolute;
  bottom: -20px;
  height: 50px;
  width: 100%;
  background: linear-gradient(transparent, black 65%);
}

.info-container {
  background: linear-gradient(black, #00162c, #00172f);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 50px ;
  align-items: center;
  justify-content: center;
  height: 900px;
  width: 100%;
  min-width: 1050px;
  padding-top: 75px;
}

.info-row-1,
.info-row-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 300px;
}

.row-1-image{
  flex: 1;
  margin: 30px;
  height: 300px;
  border: 2px solid black;
  object-fit: fill;
}

.row-1-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.row-1-text {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 30px;
  color: white;
  font-size: 36px;
  font-weight: bold;
}

.row-1-text div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding-left: 10px;
  height: 75px;
}

.text-1 {
  background: linear-gradient(to right, #001845, #002855);

}

.text-2 {
  background: linear-gradient(to right, #002855, #023e7d);
}

.text-3 {
  background: linear-gradient(to right ,#023e7d, #0353a4);
}

.row-2-text {
  flex: 1;
  margin: 30px;
  border-radius: 20px;
  color: white;
  height: 300px;
  font-size: 36px;
  line-height: 50px;
  padding: 20px;
  background: linear-gradient(#001845, #042e5e);
}

.row-2-image {
  flex: 0.5;
  margin: 30px;
  height: 400px;
}

.row-2-image img {
  flex: 0.5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

@media (min-width: 1765px) {
  .row-1-text,
  .row-2-text {
    font-size: 2.5em;
    line-height: 60px;
  }
}

@media (max-width: 1348px) {
  .row-1-text,
  .row-2-text {
    font-size: 1.75em;
  }
}

@media (max-width: 1084px) {
  .row-1-text,
  .row-2-text {
    font-size: 1.5em;
  }
}